* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -2;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;
}

header {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-up {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-down {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    cursor: pointer;
    background-color: #DC143C;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

button:hover {
    background-color: rgb(238, 238, 72);
    box-shadow: 1px 5px 20px rgb(238, 238, 72);
    transition: 0.3s;
}

button:active {
    opacity: 0.5;
}

.ul-lanches {
    list-style: none;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.ul-sum {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

li {
    border: 1px solid #DC143C;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    border: 1px solid rgb(238, 238, 72);
    box-shadow: 1px 5px 20px rgb(238, 238, 72);
    transition: 0.3s;
}

li:active {
    opacity: 0.5;
}

img {
    width: 100%;
    border-radius: 10px;
}

p {
    color: #ffffff;
}

.item-price {
    color: rgb(238, 238, 72);
}

@media screen and (max-width: 1030px) {

    header {
        margin: 50px 0 0 0;
    }

    .ul-lanches {
        grid-template-columns: 300px 300px;
        margin-top: -100px;
        margin-bottom: 50px;
    }

    .ul-sum {
        margin: 30px 0 150px 0;
    }
}

@media screen and (max-width: 500px) {

    .mascara {
        width: 200vw;
        height: 200vh;
    }

    video {
        left: -150%;
    }

    header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 70px 0px 20px 0;
    }

    button {
        background-color: transparent;
        color: #DC143C;
    }

    button:hover {
        background-color: transparent;
        color: rgb(238, 238, 72);
        box-shadow: none;
    }

    .ul-lanches {
        grid-template-columns: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .ul-sum {
        margin: 30px;
    }

}